<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="academicExperience">
            <h2><span jhiTranslate="myCvApiApp.academicExperience.detail.title">Academic Experience</span> {{academicExperience.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myCvApiApp.academicExperience.school">School</span></dt>
                <dd>
                    <span>{{academicExperience.school}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.academicExperience.degree">Degree</span></dt>
                <dd>
                    <span>{{academicExperience.degree}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.academicExperience.startDate">Start Date</span></dt>
                <dd>
                    <span>{{academicExperience.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.academicExperience.endDate">End Date</span></dt>
                <dd>
                    <span>{{academicExperience.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.academicExperience.classification">Classification</span></dt>
                <dd>
                    <span>{{academicExperience.classification}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.academicExperience.person">Person</span></dt>
                <dd>
                    <div *ngIf="academicExperience.person">
                        <a [routerLink]="['/person', academicExperience.person?.id, 'view']">{{academicExperience.person?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/academic-experience', academicExperience.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
