<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-heading" jhiTranslate="myCvApiApp.person.home.createOrEditLabel">Create or edit a Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.picturePath" for="field_picturePath">Picture Path</label>
                    <input type="text" class="form-control" name="picturePath" id="field_picturePath"
                           formControlName="picturePath"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('birthDate').invalid && (editForm.get('birthDate').dirty || editForm.get('birthDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.birthTown" for="field_birthTown">Birth Town</label>
                    <input type="text" class="form-control" name="birthTown" id="field_birthTown"
                           formControlName="birthTown"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.shortDescription" for="field_shortDescription">Short Description</label>
                    <input type="text" class="form-control" name="shortDescription" id="field_shortDescription"
                           formControlName="shortDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myCvApiApp.person.longDescription" for="field_longDescription">Long Description</label>
                    <input type="text" class="form-control" name="longDescription" id="field_longDescription"
                           formControlName="longDescription"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
