<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span jhiTranslate="myCvApiApp.person.detail.title">Person</span> {{person.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myCvApiApp.person.firstName">First Name</span></dt>
                <dd>
                    <span>{{person.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.person.lastName">Last Name</span></dt>
                <dd>
                    <span>{{person.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.person.picturePath">Picture Path</span></dt>
                <dd>
                    <span>{{person.picturePath}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.person.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{person.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.person.birthTown">Birth Town</span></dt>
                <dd>
                    <span>{{person.birthTown}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.person.shortDescription">Short Description</span></dt>
                <dd>
                    <span>{{person.shortDescription}}</span>
                </dd>
                <dt><span jhiTranslate="myCvApiApp.person.longDescription">Long Description</span></dt>
                <dd>
                    <span>{{person.longDescription}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
