<div>
    <h2 id="page-heading">
        <span jhiTranslate="myCvApiApp.project.home.title">Projects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myCvApiApp.project.home.createLabel">
            Create new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="projects?.length === 0">
        <span jhiTranslate="myCvApiApp.project.home.notFound">No projects found</span>
    </div>
    <div class="table-responsive" *ngIf="projects?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shortDescription"><span jhiTranslate="myCvApiApp.project.shortDescription">Short Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longDescription"><span jhiTranslate="myCvApiApp.project.longDescription">Long Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="myCvApiApp.project.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="myCvApiApp.project.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profissionalExperience.id"><span jhiTranslate="myCvApiApp.project.profissionalExperience">Profissional Experience</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['/project', project.id, 'view' ]">{{project.id}}</a></td>
                <td>{{project.shortDescription}}</td>
                <td>{{project.longDescription}}</td>
                <td>{{project.startDate | date:'mediumDate'}}</td>
                <td>{{project.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="project.profissionalExperience">
                        <a [routerLink]="['../professional-experience', project.profissionalExperience?.id, 'view' ]" >{{project.profissionalExperience?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'project', { outlets: { popup: project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
