<div>
    <h2 id="page-heading">
        <span jhiTranslate="myCvApiApp.tokenMap.home.title">Token Maps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-token-map" [routerLink]="['/token-map/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myCvApiApp.tokenMap.home.createLabel">
            Create new Token Map
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tokenMaps?.length === 0">
        <span jhiTranslate="myCvApiApp.tokenMap.home.notFound">No tokenMaps found</span>
    </div>
    <div class="table-responsive" *ngIf="tokenMaps?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="token"><span jhiTranslate="myCvApiApp.tokenMap.token">Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entityName"><span jhiTranslate="myCvApiApp.tokenMap.entityName">Entity Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validTo"><span jhiTranslate="myCvApiApp.tokenMap.validTo">Valid To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="person.id"><span jhiTranslate="myCvApiApp.tokenMap.person">Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tokenMap of tokenMaps ;trackBy: trackId">
                <td><a [routerLink]="['/token-map', tokenMap.id, 'view' ]">{{tokenMap.id}}</a></td>
                <td>{{tokenMap.token}}</td>
                <td>{{tokenMap.entityName}}</td>
                <td>{{tokenMap.validTo | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="tokenMap.person">
                        <a [routerLink]="['../person', tokenMap.person?.id, 'view' ]" >{{tokenMap.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/token-map', tokenMap.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/token-map', tokenMap.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'token-map', { outlets: { popup: tokenMap.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
