<div>
    <h2 id="page-heading">
        <span jhiTranslate="myCvApiApp.reward.home.title">Rewards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reward" [routerLink]="['/reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myCvApiApp.reward.home.createLabel">
            Create new Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="rewards?.length === 0">
        <span jhiTranslate="myCvApiApp.reward.home.notFound">No rewards found</span>
    </div>
    <div class="table-responsive" *ngIf="rewards?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="myCvApiApp.reward.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="myCvApiApp.reward.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="issuerEntity"><span jhiTranslate="myCvApiApp.reward.issuerEntity">Issuer Entity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shortDescription"><span jhiTranslate="myCvApiApp.reward.shortDescription">Short Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="person.id"><span jhiTranslate="myCvApiApp.reward.person">Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let reward of rewards ;trackBy: trackId">
                <td><a [routerLink]="['/reward', reward.id, 'view' ]">{{reward.id}}</a></td>
                <td>{{reward.title}}</td>
                <td>{{reward.date | date:'mediumDate'}}</td>
                <td>{{reward.issuerEntity}}</td>
                <td>{{reward.shortDescription}}</td>
                <td>
                    <div *ngIf="reward.person">
                        <a [routerLink]="['../person', reward.person?.id, 'view' ]" >{{reward.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reward', reward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reward', reward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reward', { outlets: { popup: reward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
